{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="relative flex min-h-screen flex-col justify-center overflow-hidden py-6 sm:py-12">
    <div class="absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
    <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
      <div class="mx-auto max-w-md">
        <div class="divide-y divide-gray-300/50">
          <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
            <p class="text-lg font-bold text-gray-900">Detalle de la orden</p>
            <ul class="space-y-8">
              <li class="flex items-center">
                <p class="ml-4">
                 Usuario: 
                  <code class="text-sm font-bold text-gray-900">{{ order.user.username }}</code>
                </p>
              </li>
              <li class="flex items-center">
                <p class="ml-4">
                  Fecha de Orden: 
                  <code class="text-sm font-bold text-gray-900">{{ order.order_date | date }}</code>
                </p>
              </li>
              <li class="flex items-center">
                <ul class="list-disc">
                    <p class="ml-4">PRODUCTOS: </p>
                    {% for order_item in order.order_product_set.all %}
                        <li class="flex items-center justify-between">
                          <p class="ml-4">{{ order_item.product.name }} : {{ order_item.product.price }}</p>
                          <form action="{% url 'DeleteOrderProduct' order_item.id %}" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="order_item.id" value="{{ order_item.id }}">
                              <button class="text-red-500 underline hover:text-red-700 font-medium">
                                  Eliminar
                              </button>
                          </form>
                      </li>
                    {% endfor %}
                </ul>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}