{% extends "base.html" %}
{% load tailwind_filters %}
{% load static %}
{% block content %}
<section class="bg-white">
    <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
      <aside class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6">
        <img
          alt=""
          src="{% static "images/coffe_login.png" %}"
          class="absolute inset-0 h-full w-full object-cover"
        />
      </aside>
  
      <main
        class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
      >
        <div class="max-w-xl lg:max-w-3xl">
          <h1 class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">
            Iniciar Sesion ☕
          </h1>
          <form action="" class="mt-8 grid grid-cols-1 gap-6" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="Submit" class="bg-yellow-400 hover:scale-105 font-bold py-2 px-4 rounded shadow">Ingresar</button>
          </form>
        </div>
      </main>
    </div>
  </section>

{% comment %} 
<form action="" method="post">    
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="bg-yellow-400 hover:scale-105 font-bold py-1 px-4 rounded shadow">Ingresar</button>
</form> {% endcomment %}
{% endblock content %}