<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <h1 class="text-3xl font-bold">PRODUCT LIST</h1>
    <div class="flex">
        {% for product in products_list %}
        <div class="rounded-md border-2 border-rose-600">
            <h2>{{ product.name }}</h2>
            <p><strong>Description:</strong> {{ product.description }}</p>
            <p><strong>Price:</strong> ${{ product.price }}</p>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'add_product' %}" class="button">Agregar</a>

{% endblock content %}